<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.subway.mapper.SubwayMapper">
    <update id="update" parameterType="SubwayInfo">
        UPDATE subwayinfo SET
        SUBWAYNAME = #{subwayName},
        startStation = #{startStation},
        endStation = #{endStation},
        stationNum = #{stationNum},
        startTime = #{startTime},
        price = #{price}
        where id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM subwayinfo WHERE ID = #{id};
    </delete>
    <select id="getList" resultType="SubwayInfo">
        SELECT * FROM subwayinfo
    </select>
    <select id="getSubwayInfoById" resultType="com.subway.pojo.SubwayInfo" parameterType="int">
        SELECT * FROM subwayinfo
        WHERE ID = #{id}
    </select>
</mapper>